name: Install and Start CRD
on: [workflow_dispatch] # Allows you to run this manually

jobs:
  setup-crd:
    runs-on: windows-latest
    steps:
      - name: Download CRD MSI
        shell: powershell
        run: |
          $msiUrl = "https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi"
          $outPath = "$env:TEMP\chromeremotedesktophost.msi"
          Invoke-WebRequest -Uri $msiUrl -OutFile $outPath

      - name: Install CRD Host
        shell: powershell
        run: |
          $msiPath = "$env:TEMP\chromeremotedesktophost.msi"
          # /qn for quiet/no UI, /norestart to prevent rebooting the runner
          Start-Process msiexec.exe -ArgumentList "/i `"$msiPath`" /qn /norestart" -Wait

      - name: Register and Start Host
        shell: powershell
        run: |
          $crdExe = "${Env:ProgramFiles(x86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe"
          
          # Variables from your request
          $authCode = "4/0ATX87lMFHkPppnHSZRV33xVsLpo-sFtY5pjIOLUKEEcgjGsphDDZ7CNOmDM4Ryfli7FJug"
          $pin = "123456"
          $hostName = "compu"

          # Execute registration
          & $crdExe --code="$authCode" `
                    --redirect-url="https://remotedesktop.google.com/_/oauthredirect" `
                    --name="$hostName" `
                    --pin="$pin"
          
          Write-Host "CRD Host '$hostName' has been registered."
