name: pc-on

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:

    - name: Enable Terminal Services 
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0

    - name: Enable Remote Desktop in Firewall
      run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Enable RDP User Authentication
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1

    - name: Set User Password
      run: |
        $password = ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force
        Set-LocalUser -Name "runneradmin" -Password $password

    - name: Create SSH Tunnel
      run: |
        curl -L -o cfrt.first.pem "https://drive.usercontent.google.com/download?id=1TToKBuiOsNPYiJFeOS5PM4WKb1hM2dEK&export=download&authuser=0&confirm=t&uuid=6aa8d33a-b259-4441-a849-0e9469cd6f10&at=ANTm3cwQQDU_KDo_ZTq2quTgvOq4:1766666255635"
        ssh -i cfrt.first.pem cfrt.first@cfrt-33480.portmap.host -N -R 33480:localhost:3389
